.first-box-container {
    width: 200px;
    height: 100px;
    position: absolute;
    background-color: red;
    border-style: solid;
    border-color: green;
    border-width: 10px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
  
  .second-box-container {
    width: 200px;
    height: 100px;
    left: 250px;
    position: absolute;
    background-color: yellow;
    border-style: solid;
    border-color: red;
    border-width: 10px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    left: 500px;
    position: absolute;
    background-color: green;
    border-style: solid;
    border-color: yellow;
    border-width: 10px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
  }
  